html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #E7E7E7;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.homepage {
    margin: 0px auto;
}

.header {
    margin: 75px 0 55px 0;;
    position: relative;
}

.logo-mob {
    position: relative;
    text-align: center;
    margin: 50px 0 30px 0;

    button {
        position: fixed;
        left: 10px;
        top: 10px;
        padding: 10px 20px;
        background-color: #BDBDBD;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: #aaaaaa;
        }

        &:active,&:hover {
            outline: none;
        }
    }

    i {
        font-size: 20px;
        color: white;
    }

    img {
        margin-bottom: 20px;
    }

    span {
        font-size: 13px;
        font-weight: 800;
        font-family: sans-serif;
    }
}

.logo img {
    border-radius: 5px;
    vertical-align: middle;
    padding-right: 15px;
}

.logo p {
    font-size: 16px;
    font-weight: 800;
    color: rgb(94, 92, 92);
    font-family: sans-serif;
}

.description {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 80px;
}

.info, .actions {
    margin: 0;
    display: block;
}

.info {
    width: 58%;
    float: left;
}

.actions {
    float: right;
    width: 41%;
}

.description h1 {
    font-size: 57px;
    font-weight: 800;
    color: rgb(61, 59, 59);
    margin: 0px;
    font-family: sans-serif;
}

.description p {
    font-size: 46px;
    color: rgb(61, 59, 59);
    margin: 0px;
    font-family: inherit;
}

.actions .fa-question-circle,
.fa-arrow-circle-right {
    float: right;
    margin-top: 10px;
}

.gallery {
    background-color: #E7E7E7;
    margin: 5px 0 50px -32px;
}

.gallery-item {
    float: left;
    width: 31%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    margin: 45px 0 0 33px;
    padding-bottom: 50px;
}

.gallery img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 60px;
    width: 100%;
    display: block;
}

.gallery h2 {
    font-family: sans-serif;
    font-weight: 800;
    color: #3F3E3E;
    margin: 0;
}

.gallery-item p {
    line-height: 45px;
    margin-bottom: 40px;
}

.gallery h2,
.gallery p {
    margin: 0 35px 0 35px;
}

.over {
    background-color: white;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}

.about {
    margin: 0 auto;
    padding: 90px 0 80px 0;
    display: block;
}

.about-img h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #3F3E3E;
    margin: 26px 0 0 18px;
}

.about-img {
    width: 33%;
    margin-top: -20px;
    margin-left: -20px;
    
}

.about-img, .about-reading {
    display: inline-block;
}

.col-img {
    width: 50%;
    float: left;
    padding: 20px 0 0 20px;

    img {
        display: block;
        width: 100%;
        border-radius: 8px;
    }
}

.about-reading {
    width: 66%;
    float: right;
    padding-left: 15px;

    h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #3F3E3E;
    margin: 0;
    }

    p {
        line-height: 40px;
        margin: 30px 0 0 0;

        a{
            text-decoration: underline;
        }
    }
}

.footer {
    margin: 100px auto 0 auto;
}