@media screen and (max-width: 1680px) {

    .container {
        width: 1200px;
    }

    .gallery-item {
        margin-left: 28px;
    }

    .footer {
        margin: 50px auto 0 auto;
    }
}

@media screen and (max-width: 1280px) {

    .container {
        width: 980px;
    }

    .logo img {
        width: 15%;
    }

    .logo p {
        font-size: 13px;
    }

    .nav ul li a {
        font-size: 13px;
        font-weight: 600;
    }

    .description {
        padding: 65px;

        .info {
            h1 {
                font-size: 45px;
                margin: 0 0 20px 0;
            }
            p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 42px;
            }
        }
        
        .btn {
            height: 90px;
            padding: 0 20px;
            font-size: 33px;
        }
    }

    .gallery-item {
        width: 30%;
        margin: 45px 0 0 33px;
        padding: 0;

        h2 {
            font-size: 20px;
            margin: 0 35px 0 35px ;
        }
        p {
            font-size: 14px;
            line-height: 35px;
            margin: 0 35px 25px 35px ;
        }
    }

    .about-img h1 {
        font-size: 20px;
    }

    .about-reading {
        h1 {
            font-size: 32px;
        }
        p{
            font-size: 15px;
        }
    }

    .panel {
        
        li {
            line-height: 35px;
            font-size: 15px;
        }
    }

    .design p {
        font-size: 16px;
    }
}

@media screen and (max-width: 980px) {

    .container {
        width: 90%;

        .description {
            margin: 0 50px;
            padding: 40px;

            .info, .actions {
                width: 100%;
                text-align: center;
                margin: 20px 0;
            }

            .info h1 {
                    margin: 0;
                    font-size: 50px;
                }

                p {
                    margin: 0;
                    padding: 0;
                    font-size: 35px;
                }

            .actions .btn {
                width: 100%;
                margin: 10px 0;
                text-align: center;
            }
        }

        .gallery {
            margin: 40px 0 0 0;
            padding: 0 50px;
        }

        .gallery-item {
            width: 100%;
            margin: 35px 0;
        }

        .nav,
        .logo {
            display: none;
        }
    }

    .over {
        margin-top: 50px;
    }

    .about {
        padding: 50px 50px;
    }

    .about-img {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .about-reading {
        width: 100%;
        padding: 50px 0 0 0;
        
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    .btn-info {
        width: 100%;
        margin-bottom: 80px
    }

    .btn-next {
        margin-bottom: 40px;
    }

    .footer {
        padding: 50px 50px 0 50px;
        margin: 50px auto;

        .panel {
            width: 50%;
            margin: 50px 0 0 0;
        }
    }

    .design {

        ul {
            list-style-type: none;
            display: block;

            p {
                margin: 0;
                font-size: 16px;

                i {
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width: 736px) {

    .container {
        width: 100%;

        .description {
            padding: 15px;

            .info, .actions {
                padding: 0;
            }

            .info h1 {
                margin-bottom: 20px;
                font-size: 30px;
            }
        
            p {
                margin: 0;
                padding: 0;
                font-size: 20px;
            }

            .btn {
                height: 60px;
                padding: 0 28px;
                font-size: 21px;
            }
        }
    }

    .footer {
        padding: 0 50px 0 50px;
        margin: 0 auto;

        .panel {
            width: 100%;
            border-bottom: 1px solid #969494;
            padding-bottom: 25px;
        }
    }
}

@media screen and (max-width: 336px) {

    .container {
        width: 100%;
    }
}

@media screen and (min-width: 980px) {

    .logo-mob {
        display: none;
    }
}