html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #E7E7E7;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.homepage {
    width: 1400px;
    margin: 0px auto;
}

.header {
    margin: 75px 0 55px 0;;
    position: relative;
}

.logo img {
    border-radius: 5px;
    vertical-align: middle;
    padding-right: 15px;
}

.logo p {
    font-size: 16px;
    font-weight: 800;
    color: rgb(94, 92, 92);
    font-family: sans-serif;
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
}

.nav ul {
    list-style: none;
    padding-right: 0px;
}

.nav ul li {
    float: left;
    margin-left: 35px;
}

.nav ul li.active a {
    background-color: #444444;
    color: white;
}

.nav ul li.active a:hover {
    background-color: #444444;
}

.nav ul li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    color: rgb(94, 92, 92);
    padding: 7px 10px;    
    border-radius: 5px;
    font-family: sans-serif;
}

.nav ul li a:hover {
    background-color: white;
}

.description {
    background-color: white;
    vertical-align: middle;
    padding: 15px 0px;
    border-radius: 5px;
}

.info {
    margin: 50px 0;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.actions {
    margin: 50px 0;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.description h1 {
    font-size: 55px;
    font-weight: 800;
    color: rgb(61, 59, 59);
    margin: 0px;
    font-family: sans-serif;
    margin-left: 78px;
}

.description p {
    font-size: 44px;
    color: rgb(61, 59, 59);
    margin: 0px;
    padding-left: 78px;
}

.btn {
    width: 460px;
    height: 100px;
    border-radius: 5px;
    border: none;
    margin: 10px 50px;
    padding: 10px 35px;
    font-size: 40px;
    font-weight: 800;
    float: right;
    text-align: left;
    cursor: pointer;
}

.btn img {
    float: right;
    padding-top: 10px;
}

.btn-primary {
    background-color: #4695C9;
    color: white;
}

.btn-primary:hover {
    background-color: #3A9AD4;
}

.btn-secondary {
    background-color: #F3F3F3;
    color: rgb(61, 59, 59);
}

.btn-secondary:hover {
    background-color: #E9E9E9;
}

.btn,
.btn:active,
.btn:hover {
    outline: none;
}

.gallery {
    background-color: #E7E7E7;
}

.gallery-item {
    display: inline-block;
    width: 440px;
    margin: 55px 0;
    background-color: white;
    border-radius: 10px;
}

.gallery img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-bottom: 60px;
}

.gallery h2 {
    font-family: sans-serif;
    font-weight: 800;
    color: #3F3E3E;
    margin: 0;
}

.gallery-item p {
    line-height: 45px;
    margin-bottom: 40px;
}

.gallery h2,
.gallery p {
    margin-left: 35px;
}

.over {
    background-color: white;
}

.about {
    width: 1400px;
    margin: 0 auto;
    padding: 90px 0 145px 0;
}

.about-img h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #3F3E3E;
    margin-top: 0;
    margin-bottom: 30px;
}

.about-img {
    width: 440px;
}

.about-img img {
    border-radius: 5px;
    width: 195px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about-img, .about-reading {
    display: inline-block;
}

.btn-info {
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    background-color: #4695C9;
    color: white;
    margin: 30px 0;
    outline: none;
}

.btn-info img {
    float: left;
    margin: 2px;
    margin-right: 10px;
    width: 17px;
}

.btn-info:hover {
    background-color: #3A9AD4;
}

.btn-info:active,
.btn-info:hover {
    outline: none;
}

.btn-next img {
    margin: 4px;
    margin-right: 10px;
    width: 20px;
}

.about-reading {
    width: 920px;
    float: right;
    padding-left: 15px;
}

.about-reading h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #3F3E3E;
    margin: 0;
}
.about-reading p {
    line-height: 45px;
    margin-top: 40px;
}

.footer {
    width: 1400px;
    margin: 110px auto;
}

.panel {
    float: left;
    width: 290px;
    text-align: left;
    margin-right: 60px;
    margin-bottom: 50px;
}

.panel h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #3F3E3E;
    margin: 0;
}

.panel ul {
    padding-left: 0;
}

.panel li {
    list-style-type: none;
    line-height: 40px;
    color: #3F3E3E;
    font-family: Arial, Helvetica,;
    font-size: 18px;
}

.panel a {
    text-decoration: underline;
    color: #3F3E3E;
}

.panel a:hover,
.design a:hover {
    text-decoration: none;
}

.panel .fab {
    font-size: 50px;
}

.design {
    width: 1400px;
    margin: 30px auto;
}

.design p {
    color: #3F3E3E;
    margin-left: 400px;
}

.design a {
    text-decoration: underline;
    color: #3F3E3E;
}

.design i {
    border-left: 1px solid #3F3E3E;
    border-right: 1px solid #3F3E3E;
    padding: 0 10px;
    margin: 0 10px;
}